<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>معينك | Mueenk</title>
    
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

    <div id="loading-screen">
        <div class="loading-content">
            <img src="LOGO_MUEENK2.png" alt="لوقو معينك" class="loading-logo">
            <div class="loading-text">مُعينك</div>
        </div>
    </div>

    <div class="app">
        <nav class="navbar">
            <div class="nav-brand">
                <img src="LOGO_MUEENK2.png" alt="Logo">
                <span>معينك</span>
            </div>
